<row class="background-fill">
    <columns>
        <spacer size="35"></spacer>
    </columns>
</row>

<row class="l-footer background-fill">
    <columns>
        <center>
            <p class="l-footer__text">
                iPort – Apple Premium Reseller / <a href="tel:88007700097">8 800 770 00 97</a>
            </p>
        </center>
        <spacer size="25"></spacer>
    </columns>
</row>

<hr class="c-letter__line c-letter__line_wide">

<row class="l-footer background-fill">
    <columns>
        <spacer size="25"></spacer>
        <center>
            <p class="l-footer__text">
                Вы получили это письмо, так как совершили заказ на сайте iPort. <br>
                У вас есть вопросы? <a href="http://www.iport.ru/feedback/?utm_source=email&utm_medium=email&utm_campaign=iport_siteorder">Напишите нам</a>
            </p>
        </center>
    </columns>
</row>
