<row class="background-fill">
    <columns>
        <row class="background-fill">
            <columns>
                <spacer size-lg="35" size-sm="15"></spacer>
            </columns>
        </row>
    </columns>
</row>

<row class="c-mobile-app background-fill">
    <columns>
        <center>
            <h2 class="c-mobile-app__title text-center">
                Бонусная карта iPort <br> в приложении «Кошелёк»
            </h2>
        </center>
    </columns>
</row>

<row class="background-fill">
    <columns>
        <row class="background-fill">
            <columns>
                <spacer size-lg="40" size-sm="20"></spacer>
            </columns>
        </row>
    </columns>
</row>

<row class="c-mobile-app background-fill">
    <columns large="6" small="6">
        <a href="https://itunes.apple.com/RU/app/id1129811786"
           class="c-mobile-app__item c-mobile-app__item_left"
           title="Установить приложение «Кошелёк» от iPort на App Store"
           target="_blank">
            <img src="{{imagesLinkProd}}/assets/img/appstore-dark.png"
                 class=""
                 alt="Логотип App Store"
                 loading="lazy"
                 width="253" height="80">
        </a>
    </columns>
    <columns large="6" small="6">
        <a href="https://play.google.com/store/apps/details?id=ru.cardsmobile.mw3"
           class="c-mobile-app__item c-mobile-app__item_right"
           title="Установить приложение «Кошелёк» от iPort на Google Play"
           target="_blank">
            <img src="{{imagesLinkProd}}/assets/img/googleplay-dark.png"
                 class=""
                 alt="Логотип Google Play"
                 loading="lazy"
                 width="253" height="80">
        </a>
    </columns>
</row>

<row class="background-fill">
    <columns>
        <row class="background-fill">
            <columns>
                <spacer size-lg="35" size-sm="15"></spacer>
            </columns>
        </row>
    </columns>
</row>