<row class="background-fill">
    <columns>
        <row class="background-fill">
            <columns>
                <spacer size-lg="35" size-sm="15"></spacer>
            </columns>
        </row>
    </columns>
</row>

<row class="c-social background-fill">
    <columns large="2" small="2">
        <a href="https://vk.com/iport_apple?utm_source=email&utm_medium=email&utm_campaign=iport_siteorder"
           title="Перейти в нашу группу в Вконтакте">
            <center>
                <img src="{{imagesLinkProd}}/assets/img/vk.png"
                     class="c-social__image"
                     alt="Логотип Вконтакте"
                     loading="lazy"
                     width="70" height="71">
            </center>
        </a>
    </columns>
    <columns large="2" small="2">
        <a href="https://www.facebook.com/iport.apple.premium.reseller?utm_source=email&utm_medium=email&utm_campaign=iport_siteorder"
           title="Перейти в нашу группу на Facebook">
            <center>
                <img src="{{imagesLinkProd}}/assets/img/fb.png"
                     class="c-social__image"
                     alt="Логотип Facebook"
                     loading="lazy"
                     width="70" height="71">
            </center>
        </a>
    </columns>
    <columns large="2" small="2">
        <a href="https://instagram.com/iport_apple?utm_source=email&utm_medium=email&utm_campaign=iport_siteorder"
           title="Перейти в наш Instagram">
            <center>
                <img src="{{imagesLinkProd}}/assets/img/inst.png"
                     class="c-social__image"
                     alt="Логотип Instagram"
                     loading="lazy"
                     width="70" height="71">
            </center>
        </a>
    </columns>

    <columns large="6" small="6">
        <a href="https://www.iport.ru/?utm_source=email&utm_medium=email&utm_campaign=iport_siteorder"
           title="Перейти на сайт iPort">
            <center>
                <img src="{{imagesLinkProd}}/assets/img/logo-alt-dark.png"
                     class="c-social__image"
                     alt="Логотип iPort"
                     loading="lazy"
                     width="252" height="73">
            </center>
        </a>
    </columns>
</row>

<row class="background-fill">
    <columns>
        <row class="background-fill">
            <columns>
                <spacer size-lg="35" size-sm="15"></spacer>
            </columns>
        </row>
    </columns>
</row>
