<row class="background-fill">
    <columns>
        <spacer size="100"></spacer>
    </columns>
</row>
<row class="c-letter-triggers background-fill collapse">
    <columns large="4" class="c-letter-triggers__item c-letter-trigger">
        <center>
            <img src="{{imagesLinkProd}}/assets/img/iport-plus-dark.png"
                 class="c-letter-trigger__image"
                 alt="Логотип iPort+"
                 loading="lazy"
                 width="95" height="94">
            <h5 class="text-center c-letter-trigger__title">
                iPort+
            </h5>
            <p class="text-center c-letter-trigger__text">
                Расширенная <br> гарантия до 3-х лет
            </p>
        </center>
        <spacer size="20"></spacer>
    </columns>
    <columns large="4" class="c-letter-triggers__item c-letter-trigger">
        <center>
            <img src="{{imagesLinkProd}}/assets/img/tradein-dark.png"
                 class="c-letter-trigger__image"
                 alt="Логотип Trade-in"
                 loading="lazy"
                 width="94" height="94">
            <h5 class="text-center c-letter-trigger__title">
                Trade-in
            </h5>
            <p class="text-center c-letter-trigger__text">
                Скидка <br> на новую технику
            </p>
        </center>
        <spacer size="20"></spacer>
    </columns>
    <columns large="4" class="c-letter-triggers__item c-letter-trigger">
        <center>
            <img src="{{imagesLinkProd}}/assets/img/service-dark.png"
                 class="c-letter-trigger__image"
                 alt="Шестерёнка"
                 loading="lazy"
                 width="94" height="94">
            <h5 class="text-center c-letter-trigger__title">
                Авторизованные
            </h5>
            <p class="text-center c-letter-trigger__text">
                сервисные центры <br> Apple
            </p>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>

<row class="background-fill">
    <columns>
        <spacer size="35"></spacer>
    </columns>
</row>