.c-mobile-app {
  &__title {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 36px;
    color: $black;

    @media only screen and (max-width: $global-breakpoint) {
      font-size: 20px!important;
      line-height: 1.2!important;
      font-weight: 700!important;
    }
  }

  &__item {
    &_left {
      float: right;
      display: inline-block;
    }

    @media only screen and (max-width: $global-breakpoint) {
      text-align: center!important;
      float: none!important;
      display: block!important;

      img {
        margin: 0 auto!important;
      }
    }
  }
}